.product-list .product .nf-pos-display-qty{
    color: white;
    line-height: 15px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
    position: absolute;
    width: auto;
    right: auto;
    left: 3px;
    top: 4px;
}