.product-screen {
    .validation:has(.nf-hold-desktop-btn) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        gap: 15px;
    }
    .validation:has(> .nf-hold-desktop-btn) > .gap-2 {
        flex: 1 1 auto;
    }
    .control-buttons-modal{
        button{
            display: flex;
            align-items: center;
            font-size: calc(100% - 20%);
        }
    }
    .rightpane{
        .nf-highlight-view{
            .fa{
                padding: 7px 10px 0 10px;
            }
        }
    }
    // .actionpad:has(.pay-order-button) {
    //     .nf-resto-btn{
    //     display: flex !important;
    //     align-items: baseline !important;
    //     column-gap: 1rem;
    //     // justify-content: start;
    //     gap: 15px;
    //     }
    // }
}