.product:hover{
    border: 10px solid white
}
.nf-list-product{
    border: 3px solid white

}

.nf-product-list{
    display: block !important;
    .product-img {
        border-radius: 0px !important;
    }
    
}